* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    background-color: #cae5e4;
    font-size: 25px;
}

.titulo {
    color: #043534;
    text-align: center;
    font-size: 50px;
    margin: auto;
    letter-spacing: 10px;
    padding: 32px;
    margin-bottom: 8px;
}

.formulario {
    background-color: white;
    width: 750px;
    margin: auto;
    border-radius: 16px;
    padding: 32px;
}


.producto {
    background-color: #c1e7e6;
    width: 100%;
    height: 45px;
    font-size: 1em;
    text-align: right;
    font-family: "Space Mono", monospace;
    border-radius: 4px;
    margin-top: 16px;


}

.vigencia {
    background-color: #c1e7e6;
    width: 100%;
    height: 45px;
    font-size: 1em;
    text-align: right;
    font-family: "Space Mono", monospace;
    border-radius: 4px;
    margin-top: 16px;


}

.btn-agregar {
    background-color: #043534;
    width: 25%;
    height: 45px;
    font-size: 0.75em;
    text-align: center;
    color: #c1e7e6;
    font-family: "Space Mono", monospace;
    border-radius: 4px;
    margin-top: 16px;
}

.boton-borrar {
    background-color: #043534;
    width: 50%;
    height: 45px;
    font-size: 0.75em;
    text-align: center;
    color: #c1e7e6;
    font-family: "Space Mono", monospace;
    border-radius: 4px;
    margin-top: 16px;
    border-radius: 5px;
}


.contenedor {
    background-color: #ffffff;
    border-radius: 10px;
    border-color: #043534;
    border: 5px;
    width: 35%;
    height: 100%;
    font-size: 0.75em;
    text-align: center;
    color: #043534;
    font-family: "Space Mono", monospace;
    margin-top: 16px;
}